ppt/

programming_assignment/1_neural_network/2_neural_networks_basics/Logistic Regression as a Neural Network/__pycache__
programming_assignment/1_neural_network/2_neural_networks_basics/Logistic Regression as a Neural Network/.ipynb_checkpoints
programming_assignment/1_neural_network/2_neural_networks_basics/Logistic Regression as a Neural Network/datasets
programming_assignment/1_neural_network/2_neural_networks_basics/Logistic Regression as a Neural Network/images

programming_assignment/1_neural_network/2_neural_networks_basics/Python Basics with Numpy/.ipynb_checkpoints
programming_assignment/1_neural_network/2_neural_networks_basics/Python Basics with Numpy/images

programming_assignment/1_neural_network/3_shallow_neural_networks/Planar data classification with one hidden layer/__pycache__
programming_assignment/1_neural_network/3_shallow_neural_networks/Planar data classification with one hidden layer/images
programming_assignment/1_neural_network/3_shallow_neural_networks/Planar data classification with one hidden layer/.ipynb_checkpoints

programming_assignment/1_neural_network/4_deep_neural_networks/Building your Deep Neural Network - Step by Step/__pycache__
programming_assignment/1_neural_network/4_deep_neural_networks/Building your Deep Neural Network - Step by Step/images
programming_assignment/1_neural_network/4_deep_neural_networks/Building your Deep Neural Network - Step by Step/.ipynb_checkpoints

programming_assignment/1_neural_network/4_deep_neural_networks/Deep Neural Network Application: Image Classification/__pycache__
programming_assignment/1_neural_network/4_deep_neural_networks/Deep Neural Network Application: Image Classification/datasets
programming_assignment/1_neural_network/4_deep_neural_networks/Deep Neural Network Application: Image Classification/images
programming_assignment/1_neural_network/4_deep_neural_networks/Deep Neural Network Application: Image Classification/.ipynb_checkpoints

programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Gradient Checking/__pycache__
programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Gradient Checking/images
programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Gradient Checking/.ipynb_checkpoints

programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Initialization/__pycache__
programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Initialization/.ipynb_checkpoints

programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Regularization/__pycache__
programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Regularization/datasets
programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Regularization/images
programming_assignment/2_improving_dnn/1_practical_aspects_of_dnn/Regularization/.ipynb_checkpoints

programming_assignment/2_improving_dnn/2_optimization_algorithms/__pycache__
programming_assignment/2_improving_dnn/2_optimization_algorithms/datasets
programming_assignment/2_improving_dnn/2_optimization_algorithms/images

programming_assignment/2_improving_dnn/3_hyperparameters_tuning/__pycache__
programming_assignment/2_improving_dnn/3_hyperparameters_tuning/datasets
programming_assignment/2_improving_dnn/3_hyperparameters_tuning/images

programming_assignment/4_convolutional_neural_networks/1_foundations_of_convnets/__pycache__
programming_assignment/4_convolutional_neural_networks/1_foundations_of_convnets/datasets
programming_assignment/4_convolutional_neural_networks/1_foundations_of_convnets/images

programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/__pycache__
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/KerasTutorial/__pycache__
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/KerasTutorial/datasets
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/KerasTutorial/images
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/KerasTutorial/.ipynb_checkpoints

programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/ResNets/__pycache__
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/ResNets/datasets
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/ResNets/images
programming_assignment/4_convolutional_neural_networks/2_deep_convnets_models/ResNets/.ipynb_checkpoints

programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/__pycache__
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/images
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/model_data
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/nb_images
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/yad2k
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/1_foundations_of_convnets
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/.ipynb_checkpoints
programming_assignment/4_convolutional_neural_networks/3_object_detection/Car detection for Autonomous Driving/out

programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Face Recognition/__pycache__
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Face Recognition/datasets
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Face Recognition/images
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Face Recognition/weights
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Face Recognition/.ipynb_checkpoints

programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Neural Style Transfer/__pycache__
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Neural Style Transfer/images
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Neural Style Transfer/.ipynb_checkpoints
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Neural Style Transfer/output
programming_assignment/4_convolutional_neural_networks/4_face_recognition_and_neural_style_transfer/Neural Style Transfer/pretrained-model

programming_assignment/5_sequence_models/1_recurrent_neural_network/Building a Recurrent Neural Network - Step by Step/__pycache__
programming_assignment/5_sequence_models/1_recurrent_neural_network/Building a Recurrent Neural Network - Step by Step/data
programming_assignment/5_sequence_models/1_recurrent_neural_network/Building a Recurrent Neural Network - Step by Step/images
programming_assignment/5_sequence_models/1_recurrent_neural_network/Building a Recurrent Neural Network - Step by Step/previous versions
programming_assignment/5_sequence_models/1_recurrent_neural_network/Building a Recurrent Neural Network - Step by Step/.ipynb_checkpoints

programming_assignment/5_sequence_models/1_recurrent_neural_network/Dinosaur Island -- Character-level language model/__pycache__
programming_assignment/5_sequence_models/1_recurrent_neural_network/Dinosaur Island -- Character-level language model/images
programming_assignment/5_sequence_models/1_recurrent_neural_network/Dinosaur Island -- Character-level language model/previous versions
programming_assignment/5_sequence_models/1_recurrent_neural_network/Dinosaur Island -- Character-level language model/.ipynb_checkpoints
programming_assignment/5_sequence_models/1_recurrent_neural_network/Dinosaur Island -- Character-level language model/models

programming_assignment/5_sequence_models/1_recurrent_neural_network/Jazz improvisation with LSTM/__pycache__
programming_assignment/5_sequence_models/1_recurrent_neural_network/Jazz improvisation with LSTM/data
programming_assignment/5_sequence_models/1_recurrent_neural_network/Jazz improvisation with LSTM/images
programming_assignment/5_sequence_models/1_recurrent_neural_network/Jazz improvisation with LSTM/output
programming_assignment/5_sequence_models/1_recurrent_neural_network/Jazz improvisation with LSTM/previous versions
programming_assignment/5_sequence_models/1_recurrent_neural_network/Jazz improvisation with LSTM/.ipynb_checkpoints

programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Emojify/__pycache__
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Emojify/data
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Emojify/images
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Emojify/previous versions
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Emojify/.ipynb_checkpoints

programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Word Vector Representation/__pycache__
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Word Vector Representation/data
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Word Vector Representation/images
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Word Vector Representation/previous versions
programming_assignment/5_sequence_models/2_nlp_and_word_embeddings/Word Vector Representation/.ipynb_checkpoints

programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Machine Translation/__pycache__
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Machine Translation/images
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Machine Translation/models
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Machine Translation/previous versions
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Machine Translation/.ipynb_checkpoints

programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/__pycache__
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/audio_examples
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/models
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/raw_data
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/XY_dev
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/XY_train
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/images
programming_assignment/5_sequence_models/3_sequence_models_attention_mechanism/Trigger word detection/.ipynb_checkpoints